<div class="row">
	<h1>hur.i<%= image_tag(asset_path('fi-compass.svg'), style: "height:32px;margin-left: -3px; src='/assets/'") %></h1>
	<h3>get found</h3>	
</div>

<div class="row">
	<h1>All of your hur.io links</h1>
</div>

<div class="row">
	<% if current_user.places.empty? %>
		<p>No links yet, create one</p>
	<% else %>
		<ul>
			<% current_user.places.each do |p| %>
				<li><%= link_to "hur.io/#{p.alias}", alias_path(p.alias) %> <%= link_to "[edit]", edit_user_place_path(@user, p)%></li>
			<% end %>
		</ul>
	<% end %>


	<%= link_to "Create New", new_user_place_path(@user), class: "button"  %>


	<%= link_to "Log Out", destroy_user_session_path, :method => "delete", class: "button" %>
</div>
