<h1><%= @user.name %></h1>
<p>test</p>

<h3>Your shortlinks</h3>

<% if current_user.places.empty? %>
	<p>No links yet, create one</p>
<% else %>
	<ul>
		<% current_user.places.each do |p| %>
			<li>hur.io/<%= p.alias %></li>
		<% end %>
	</ul>
<% end %>


<%= link_to "Create New", new_user_place_path(@user) %>

<p><%= @user.inspect %></p>


<%= link_to "Log Out", destroy_user_session_path, :method => "delete" %>