<h1>Create a new hur.io address shortlink</h1>

<%= form_for @place, url: {action: "create"}, html: {class: "place_form"} do |f| %>
	<%= label_tag(:alias, "hur.io/:") %>
	<%= f.text_field :alias %>
	<%= label_tag(:name, "Name:") %>
  <%= f.text_field :name, id: "chosen-place-name" %>
  <%= f.text_field :url, id: "chosen-place-url-field" %>
  <%= f.submit "Create" %>
<% end %>

<a name="place"></a>	
	<div class="row">
		<h2>Place</h2>
		<div style="height:500px" id="map-container">
			<input id="pac-input" class="controls" type="text"
			        placeholder="Enter a location">
			<div id="map-canvas"></div>
		</div>
	</div>


<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDbGHvHMeIHMycjI0vN-dquD3N7kqeSRCQ&libraries=places"%>
