<div class="row">
	<h1>hur.i<img style="height:32px;margin-left: -3px;"src="/assets/fi-compass.svg"></h1>
	<h3>get found</h3>	
</div>

<div class="row" style="margin-top:100px;">
	<h2><%= @place.name %></h2>
	<p><%= @place.formatted_address %></p>
	<%= link_to image_tag(@place.google_map_image), @place.google_url %>
</div>
	<div class="row">
		<%= link_to "click to view in Google Maps", @place.google_url %>	
	</div>
<div class="more-info">
	<div class="row">
		<h3>How to find us</h3>
		<p><%= @place.notes %></p>
	</div>

	<div class="row">
		<h3>Where to park</h3>
		<p><%= @place.parking_notes %></p>
	</div>
</div>